.boundary {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden; /* Keep elements within bounds */
}

.draggable {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  user-select: none;
  opacity: 1;
  background-color: var(--color-background);
  border: 1px solid var(--gray-6);
  border-radius: 8px;
  padding: 0.5rem;
}

.drag-handle {
  cursor: grab;
  font-size: 20px;
  user-select: none;
  margin-right: 0.25rem;
  display: inline-flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.drag-handle:active {
  cursor: grabbing;
}

.drag-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.dragging {
  z-index: 10; /* Bring the dragged element to the front */
}
