.light,
.light-theme {
  --tomato-1: #fcfdfe !important;
  --tomato-2: #f7f9ff !important;
  --tomato-3: #edf2fe !important;
  --tomato-4: #e1eaff !important;
  --tomato-5: #d2dfff !important;
  --tomato-6: #c0d1fe !important;
  --tomato-7: #aabff6 !important;
  --tomato-8: #8ca5ee !important;
  --tomato-9: #5474ec !important;
  --tomato-10: #4967dc !important;
  --tomato-11: #4561cf !important;
  --tomato-12: #202e5e !important;

  --tomato-a1: #0055aa03 !important;
  --tomato-a2: #0040ff08 !important;
  --tomato-a3: #0047f112 !important;
  --tomato-a4: #004dff1e !important;
  --tomato-a5: #004aff2d !important;
  --tomato-a6: #0045fb3f !important;
  --tomato-a7: #003fe455 !important;
  --tomato-a8: #0038da73 !important;
  --tomato-a9: #0030e3ab !important;
  --tomato-a10: #002aceb6 !important;
  --tomato-a11: #0027bdba !important;
  --tomato-a12: #001047df !important;

  --tomato-contrast: #fff !important;
  --tomato-surface: #f5f8ffcc !important;
  --tomato-indicator: #5474ec !important;
  --tomato-track: #5474ec !important;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --tomato-1: oklch(99.4% 0.002 269) !important;
      --tomato-2: oklch(98.2% 0.008 269) !important;
      --tomato-3: oklch(96% 0.017 269) !important;
      --tomato-4: oklch(93.6% 0.033 269) !important;
      --tomato-5: oklch(90.4% 0.049 269) !important;
      --tomato-6: oklch(86.3% 0.066 269) !important;
      --tomato-7: oklch(80.8% 0.082 269) !important;
      --tomato-8: oklch(73.2% 0.11 269) !important;
      --tomato-9: oklch(59.9% 0.184 269) !important;
      --tomato-10: oklch(55.6% 0.182 269) !important;
      --tomato-11: oklch(53.2% 0.173 269) !important;
      --tomato-12: oklch(31.8% 0.087 269) !important;

      --tomato-a1: color(display-p3 0.024 0.349 0.675 / 0.012) !important;
      --tomato-a2: color(display-p3 0.02 0.267 0.878 / 0.032) !important;
      --tomato-a3: color(display-p3 0.008 0.239 0.886 / 0.067) !important;
      --tomato-a4: color(display-p3 0.004 0.255 0.929 / 0.11) !important;
      --tomato-a5: color(display-p3 0.004 0.259 0.933 / 0.169) !important;
      --tomato-a6: color(display-p3 0.004 0.22 0.918 / 0.236) !important;
      --tomato-a7: color(display-p3 0.004 0.2 0.827 / 0.318) !important;
      --tomato-a8: color(display-p3 0.004 0.176 0.792 / 0.432) !important;
      --tomato-a9: color(display-p3 0 0.149 0.835 / 0.644) !important;
      --tomato-a10: color(display-p3 0 0.133 0.761 / 0.691) !important;
      --tomato-a11: color(display-p3 0 0.118 0.694 / 0.706) !important;
      --tomato-a12: color(display-p3 0 0.051 0.255 / 0.863) !important;

      --tomato-contrast: #fff !important;
      --tomato-surface: color(display-p3 0.961 0.973 0.996 / 0.8) !important;
      --tomato-indicator: oklch(59.9% 0.184 269) !important;
      --tomato-track: oklch(59.9% 0.184 269) !important;
    }
  }
}

.dark,
.dark-theme {
  --tomato-1: #0c111c !important;
  --tomato-2: #111725 !important;
  --tomato-3: #172448 !important;
  --tomato-4: #1d2e61 !important;
  --tomato-5: #243974 !important;
  --tomato-6: #2d4484 !important;
  --tomato-7: #375098 !important;
  --tomato-8: #405eb2 !important;
  --tomato-9: #3d63dd !important;
  --tomato-10: #3f5cb0 !important;
  --tomato-11: #93b4ff !important;
  --tomato-12: #d5e2ff !important;

  --tomato-a1: #0012fb0c !important;
  --tomato-a2: #1156f916 !important;
  --tomato-a3: #2b64ff3b !important;
  --tomato-a4: #3567ff56 !important;
  --tomato-a5: #3f71fd6b !important;
  --tomato-a6: #4b7afd7c !important;
  --tomato-a7: #5480ff91 !important;
  --tomato-a8: #5783ffad !important;
  --tomato-a9: #4571ffdb !important;
  --tomato-a10: #5580feab !important;
  --tomato-a11: #93b4ff !important;
  --tomato-a12: #d5e2ff !important;

  --tomato-contrast: #fff !important;
  --tomato-surface: #111d3980 !important;
  --tomato-indicator: #3d63dd !important;
  --tomato-track: #3d63dd !important;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --tomato-1: oklch(17.8% 0.0247 266.8) !important;
      --tomato-2: oklch(20.7% 0.0302 266.8) !important;
      --tomato-3: oklch(27.1% 0.0694 266.8) !important;
      --tomato-4: oklch(31.8% 0.0933 266.8) !important;
      --tomato-5: oklch(36.1% 0.1046 266.8) !important;
      --tomato-6: oklch(40.4% 0.1106 266.8) !important;
      --tomato-7: oklch(45% 0.1203 266.8) !important;
      --tomato-8: oklch(50.3% 0.1373 266.8) !important;
      --tomato-9: oklch(54.3% 0.1913 266.8) !important;
      --tomato-10: oklch(49.7% 0.1373 266.8) !important;
      --tomato-11: oklch(77.7% 0.1234 266.8) !important;
      --tomato-12: oklch(91.1% 0.0428 266.8) !important;

      --tomato-a1: color(display-p3 0 0.0706 0.9804 / 0.043) !important;
      --tomato-a2: color(display-p3 0.1176 0.3608 1 / 0.08) !important;
      --tomato-a3: color(display-p3 0.2275 0.4039 1 / 0.223) !important;
      --tomato-a4: color(display-p3 0.2627 0.4196 1 / 0.324) !important;
      --tomato-a5: color(display-p3 0.302 0.451 1 / 0.4) !important;
      --tomato-a6: color(display-p3 0.3451 0.4902 1 / 0.467) !important;
      --tomato-a7: color(display-p3 0.3725 0.5098 1 / 0.547) !important;
      --tomato-a8: color(display-p3 0.3843 0.5255 1 / 0.652) !important;
      --tomato-a9: color(display-p3 0.3176 0.451 1 / 0.824) !important;
      --tomato-a10: color(display-p3 0.3843 0.5176 1 / 0.643) !important;
      --tomato-a11: color(display-p3 0.6196 0.7216 1 / 0.975) !important;
      --tomato-a12: color(display-p3 0.8549 0.898 1 / 0.988) !important;

      --tomato-contrast: #fff !important;
      --tomato-surface: color(display-p3 0.0706 0.1098 0.2118 / 0.5) !important;
      --tomato-indicator: oklch(54.3% 0.1913 266.8) !important;
      --tomato-track: oklch(54.3% 0.1913 266.8) !important;
    }
  }
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
}

body * {
  box-sizing: border-box;
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-a11) var(--accent-a3);
}
/* WebKit */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent-a3);
}
::-webkit-scrollbar-thumb {
  background: var(--accent-a11);
}

/* iOS no bouncing */
body,
.page-container,
.page,
.page-content {
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.remixicon {
  width: calc(var(--font-size, 20px) * var(--scaling));
  height: calc(var(--font-size, 20px) * var(--scaling));
}
