:root,
.light,
.light-theme {
  --tomato-1: #fcfdfe !important;
  --tomato-2: #f7f9ff !important;
  --tomato-3: #edf2fe !important;
  --tomato-4: #e1eaff !important;
  --tomato-5: #d2dfff !important;
  --tomato-6: #c0d1fe !important;
  --tomato-7: #aabff6 !important;
  --tomato-8: #8ca5ee !important;
  --tomato-9: #5474ec !important;
  --tomato-10: #4967dc !important;
  --tomato-11: #4561cf !important;
  --tomato-12: #202e5e !important;

  --tomato-a1: #0055aa03 !important;
  --tomato-a2: #0040ff08 !important;
  --tomato-a3: #0047f112 !important;
  --tomato-a4: #004dff1e !important;
  --tomato-a5: #004aff2d !important;
  --tomato-a6: #0045fb3f !important;
  --tomato-a7: #003fe455 !important;
  --tomato-a8: #0038da73 !important;
  --tomato-a9: #0030e3ab !important;
  --tomato-a10: #002aceb6 !important;
  --tomato-a11: #0027bdba !important;
  --tomato-a12: #001047df !important;

  --tomato-contrast: #fff !important;
  --tomato-surface: #f5f8ffcc !important;
  --tomato-indicator: #5474ec !important;
  --tomato-track: #5474ec !important;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --tomato-1: oklch(99.4% 0.002 269) !important;
      --tomato-2: oklch(98.2% 0.008 269) !important;
      --tomato-3: oklch(96% 0.017 269) !important;
      --tomato-4: oklch(93.6% 0.033 269) !important;
      --tomato-5: oklch(90.4% 0.049 269) !important;
      --tomato-6: oklch(86.3% 0.066 269) !important;
      --tomato-7: oklch(80.8% 0.082 269) !important;
      --tomato-8: oklch(73.2% 0.11 269) !important;
      --tomato-9: oklch(59.9% 0.184 269) !important;
      --tomato-10: oklch(55.6% 0.182 269) !important;
      --tomato-11: oklch(53.2% 0.173 269) !important;
      --tomato-12: oklch(31.8% 0.087 269) !important;

      --tomato-a1: color(display-p3 0.024 0.349 0.675 / 0.012) !important;
      --tomato-a2: color(display-p3 0.02 0.267 0.878 / 0.032) !important;
      --tomato-a3: color(display-p3 0.008 0.239 0.886 / 0.067) !important;
      --tomato-a4: color(display-p3 0.004 0.255 0.929 / 0.11) !important;
      --tomato-a5: color(display-p3 0.004 0.259 0.933 / 0.169) !important;
      --tomato-a6: color(display-p3 0.004 0.22 0.918 / 0.236) !important;
      --tomato-a7: color(display-p3 0.004 0.2 0.827 / 0.318) !important;
      --tomato-a8: color(display-p3 0.004 0.176 0.792 / 0.432) !important;
      --tomato-a9: color(display-p3 0 0.149 0.835 / 0.644) !important;
      --tomato-a10: color(display-p3 0 0.133 0.761 / 0.691) !important;
      --tomato-a11: color(display-p3 0 0.118 0.694 / 0.706) !important;
      --tomato-a12: color(display-p3 0 0.051 0.255 / 0.863) !important;

      --tomato-contrast: #fff !important;
      --tomato-surface: color(display-p3 0.961 0.973 0.996 / 0.8) !important;
      --tomato-indicator: oklch(59.9% 0.184 269) !important;
      --tomato-track: oklch(59.9% 0.184 269) !important;
    }
  }
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
}

body * {
  box-sizing: border-box;
}

.remixicon {
  width: calc(20px * var(--scaling));
  height: calc(20px * var(--scaling));
}
